header{
  display: block;
  background-color: #f0f5f5;
  height: 30vh;
  width: 100vw;
  padding-top: 10vh;
}

input[type=text]{
  width: 5vw;
  height: 10vh;
  font-size: 9vw;
  font-size: 9vh;
  padding: 0px 1px 0px 1px; /* top left bottom right */
  border: 1px solid black;
  border-radius: 9px;
}


#time_form{
  font-size: 3vw;
}

#date_and_time{
  font-size: 2vw;
  font-weight: 100;
}

body{
  font-family: "Courier New";
  text-align: center;
}

#time_display{
  font-size: 17vw;
  line-height: 0px;
  margin-top: 7vw;
  margin-bottom: 7vw;
}

/* source: css-tricks.com */
button{
  border: 0;
  box-sizing: border-box; /* allows border inside box */
  background: white;
  height:7vh;
  border-color: transparent transparent transparent #4db8ff;
  transition: 100ms all ease;
  cursor: pointer;
  margin-left: 7vw;
  will-change: border-width;

}

/* for transition from play to pause */
/* start button */
.start{
  border-style: solid;
  border-width: 3.5vw 0 3.5vw 7vw; /* top right bottom left */
}

/* stop button */
.stop{
    border-style: double; /* for parallel lines*/
    border-width: 0 0 0 9vh;
}

button:hover{
  transition-timing-function: ease-in-out;
  animation: pop 2s;
}

@keyframes pop{
  50%  {transform: scale(1.2);} /* scale works best */
}
